* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
    
.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    gap: 32px;
}

@media (max-width: 1280px) {
    .menu {
        display: none;
    }

    header .button {
        display: none;
    }
}

ul {
    list-style: none;
}

.menu-item {
    font-size: 20px;
    font-weight: medium;
    line-height: 27px;
    text-decoration: none;
    color: #000000;
    transition: .3s;
}

.menu-item:hover {
    color: #5644EF;
}

.button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #5644EF;
    padding: 10px 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Montserrat';
    transition: .3s;
}

.button:hover {
    background-color: rgb(49, 31, 218);
}

.hero-section {
    background-image: url("banner.png");
    width: 100%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: #FFFFFF;
    font-size: 96px;
    line-height: 100px;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 48px;
        line-height: 52px;
    }
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 768px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-title {
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 40px;
    }
}

.text-image-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

@media (max-width: 1024px) {
    .text-image-block {
        flex-direction: column;
        gap: 10px;
    }
}

.section-subtitle {
    font-size: 48px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .section-subtitle {
        font-size: 36px;
        line-height: 100%;
    }
}

.section-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.section-image {
    width: 50%;
    border-radius: 20px;
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    .section-image {
        width: 100%;
    }
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.section-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-iframe {
    width: 100%;
    height: 80vh;
    margin-bottom: 32px;
}

.footer {
    border-top: 1px solid #AEAEAE;
}

.footer-inner {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-col-2 {
    gap: 12px;
}

.footer-title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
}

.footer-link {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    transition: .3s;
}

.footer-link:hover {
    color: #5644EF;
}

.footer-col-1 {
    justify-content: space-between;
}

.madeby {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 12px;
}

.copyright {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

.footer-col-3 {
    gap: 32px;
}

.footer-subcol {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-text {
    font-size: 20px;
    line-height: 27px;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-social-icon {
    width: 40px;
    height: 40px;
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 32px;
}

@media (max-width: 1024px) {
    .news {
        grid-template-columns: repeat(1, 1fr);
    }
}

.news-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

.news-card-image-wrapper {
    width: 100%;
    display: block;
}

.news-card-image {
    width: 100%;
}

.news-card-title {
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    transition: .3s;
}

.news-card-title:hover {
    color: #5644EF;
}

.news-card-desc {
    font-size: 16px;
    line-height: 24px;
}

.news-card-inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.contacts-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
}

.contacts-inner iframe {
    width: 50%;
    height: 400px;
    border-radius: 20px;
}

.contacts-block {
    flex: 1;
}

.contacts-subtitle {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    padding: 12px 20px;
    background: #F2F2F2;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat';
}