* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
}

.container {
    padding: 0 80px;
}
    
.header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.menu {
    display: flex;
    gap: 32px;
}

ul {
    list-style: none;
}

.menu-item {
    font-size: 20px;
    font-weight: medium;
    line-height: 27px;
    text-decoration: none;
    color: #000000;
    transition: .3s;
}

.menu-item:hover {
    color: #5644EF;
}

.button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #5644EF;
    padding: 10px 24px;
    border-radius: 20px;
    display: flex;
    transition: .3s;
}

.button:hover {
    background-color: rgb(49, 31, 218);
}

.hero-section {
    background-image: url("banner.png");
    width: 100%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: #FFFFFF;
    font-size: 96px;
    line-height: 100px;
    font-weight: 700;
    text-align: center;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-title {
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
}

.text-image-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.section-subtitle {
    font-size: 48px;
    font-weight: 500;
}

.section-text {
    font-size: 16px;
    font-weight: 500;
}

.section-image {
    width: 50%;
    border-radius: 20px;
    flex-shrink: 0;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.section-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-iframe {
    width: 100%;
    height: 80vh;
    margin-bottom: 32px;
}

footer {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    border-top: 1px solid #AEAEAE;
    display: flex;
    justify-content: space-between;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-col-2 {
    gap: 12px;
}

.footer-title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
}

.footer-link {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    transition: .3s;
}

.footer-link:hover {
    color: #5644EF;
}

.footer-col-1 {
    justify-content: space-between;
}

.madeby {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 12px;
}

.copyright {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

.footer-col-3 {
    gap: 32px;
}

.footer-subcol {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-text {
    font-size: 20px;
    line-height: 27px;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-social-icon {
    width: 40px;
    height: 40px;
}